@using Microsoft.AspNetCore.Identity
@using Developer.Models

@inject SignInManager<DeveloperUser> SignInManager
@inject UserManager<DeveloperUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a asp-area="" asp-controller="Apps" asp-action="Index">Hello @((await UserManager.FindByNameAsync(User.Identity.Name)).nickname)!</a>
    </li>
}
else
{
    <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
    <li><a asp-area="" asp-controller="Auth" asp-action="GoAuth" asp-route-returnurl="@Context.Request.Path">Log in</a></li>
}