@{
    ViewData["Title"] = "About";
}
<div class="height-30"></div>
<div class="container">
    <h2>@ViewData["Title"].</h2>
    <h3>@ViewData["Message"]</h3>
    <p>Use this area to provide additional information.</p>
</div>