@model API.Models.OAuthViewModels.AuthorizeViewModel
@{
    ViewData["Title"] = "Sign in";
}
<div class="lock-wrapper">

    <div class="panel lock-box" id="panelinSignin">
        <div class="center">
            <img class="img-circle" alt="" src="~/images/user.png">
        </div>
        <h4> Hello User !</h4>
        <p class="text-center">Please login your Aiursoft Account</p>
        <div class="row">
            <div class="form-inline">
                @if (Model != null)
                {
                    <form class="form-group col-md-12" asp-controller="OAuth" asp-action="Authorize" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input asp-for="ToRedirect" type="hidden" />
                        <input asp-for="State" type="hidden" />
                        <input asp-for="AppId" type="hidden" />
                        <div class="iconic-input right">
                            <label class="text-muted">Obisoft Account</label>
                            <input type="email" asp-for="Email" class="form-control" placeholder="Enter Aiursoft Account">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="iconic-input right">
                            <label class="text-muted">Password</label>
                            <input class="form-control lock-input" type="password" asp-for="Password" placeholder="Password">
                            <i class="fa fa-lock"></i>
                        </div>
                        <div class="registration"> Forgot password ?<a href="#/pages/forgot-password"> <span class="text-primary"> Click here </span> </a> </div>
                        <button class="btn btn-block btn-primary" type="submit">Sign In</button>
                    </form>
                }
                else
                {
                    <div class="col-md-12 alert-danger">
                        An error occured with oauth system!
                    </div>
                }
            </div>
        </div>
    </div>
    <div> Don't have an account ? <a asp-controller="OAuth" asp-action="Register" asp-route-redirect_uri="@Model?.ToRedirect" asp-route-state="@Model?.State" asp-route-appid="@Model?.AppId"> <span class="text-primary"> Sign Up </span> </a> </div>
</div>

@section Scripts {
    <environment names="Development">
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    </environment>
}
