@{
    Layout = "_AppLayout";
}
<div class="main-content">
    <div class="row small-spacing">
        <div class="col-xs-12">
            <div class="box-content">
                <h2 class="box-title">
                    Hello World!
                </h2>
                <div class="dropdown js__drop_down">
                    <a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
                    <ul class="sub-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else there</a></li>
                        <li class="split"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <ul class="list-inline">
            <li>2016 © NinjaAdmin.</li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </footer>
</div>