@using Microsoft.AspNetCore.Identity
@using API.Models

@inject SignInManager<APIUser> SignInManager
@inject UserManager<APIUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li>
        <a href="javascript:$('#logoutForm').submit()">Log off</a>
    </li>
}
else
{
    <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
    <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
}
<form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm"></form>
